.produto-box{
    border: 3px solid #E9E9E9;
    border-radius: 18px;
    max-width: 350px;
    min-width: 350px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    margin: 30px;
}

.produto-box img{
    width: 300px;
}

.produto-box h2{
    font-size: 1.2rem;

    
}

.prod-vitrine-descricao{
    color: #ACACAC;
    font-size: 0.8rem;

}



.prod-vitrine-preco{
    color: #007828;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1rem;
    
}

